[rhel9]
rhel9.example.net

[all_rhel:children]
rhel9

[all_rhel:vars]
remote_user=admin

[windows]
windows.example.net

[all_windows:children]
windows

[all_windows:vars]
ansible_connection=winrm
ansible_winrm_transport=ntlm
ansible_winrm_server_cert_validation=ignore
